<!doctype html>  
<html lang="ko" xmlns:th="http://www.thymeleaf.org">  
<head>  
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="http://bootstrapk.com/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>  
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-moment@4.1.0/dist/vue-moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ko.min.js"></script>
<link href="http://bootstrapk.com/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">  
<title>아파트 레버리지</title>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">  
<style type="text/css">
body {
  margin : 2%;
}
</style>
</head>  
<body>
	<div id="app" style="padding-top: 70px;">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">아파트 레버리지</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">임장일지</a></li>
					<li><a href="/hunt/compareArea">비교평가</a></li>
					<li><a href="/">추천매물</a></li>
				</ul>
				</div>
			</div>
			</nav>
			
			
		<div class="form-group">
			<label for="exampleFormControlSelect2">타입</label>
			<select class="form-control" id="huntTypeSelect" v-model="selectedHuntTypeId" @change="refreshDoList" required>
				<option value="" selected disabled>선택</option>
				<option value="0">입지분석</option>
				<option value="1">분위기임장</option>
				<option value="2">단지임장</option>
				<option value="3">매물임장</option>
			</select>
		</div>

		<div class="form-group">
			<label for="do">도</label>
			<select class="form-control" id="doSelect" v-model="selectedDo" @change="onDoSelected">
				<option value="" selected>선택안함</option>
			<option v-for="areaDo in doList" v-bind:value="areaDo">{{ areaDo.doName }}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="city">시</label>
			<select class="form-control" id="citySelect" v-model="selectedCity" @change="onCitySelected" required>
				<option v-for="city in cityList"  v-bind:value="city">{{ city.cityName }}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="exampleFormControlSelect2">구</label>
			<select class="form-control" id="guSelect" v-model="selectedGu" @change="onGuSelected" required>
				<option v-if="guList.length == 0" value="" >선택안함</option>
			<option v-for="gu in guList"  v-bind:value="gu">{{ gu.guName }}</option>
			</select>
		</div>
		<div class="form-group" v-if="selectedHuntTypeId != '' && selectedHuntTypeId != 0">
			<label for="exampleFormControlSelect2">동</label>
			<select class="form-control" id="dongSelect" v-model="selectedDong" required>
				<option v-for="dong in dongList"  v-bind:value="dong">{{ dong.dongName }}</option>
			</select>
		</div>

		<div class="form-group" v-if="selectedDong.dongCode != null">
			<div class="row" style="margin-bottom: 10px;">
				<div class="col-xs-1" style="vertical-align: middle;">
				<span>아파트 검색 <br/>(건설사 이름만)</span> 
				</div>
				<div class="col-xs-2" style="vertical-align: middle;">
					<input type="text" class="form-control" v-model="searchWords" @keyup.enter="search"/>
				</div>
				
				<div class="col-xs-2" style="vertical-align: middle;">
				<button type="button" class="btn btn-sm btn-default" @click="search">검색</button>
				</div>
			</div>
			<div class="col-sm-04">
				<div class="list-group">
					<a href="#" class="list-group-item" v-for="apart in searchAparts" v-bind:class="{ 'active' : selectedApart == apart}"  @click="choiceApart(apart)">
						<h4 class="list-group-item-heading"> {{ apart.complexName }} </h4>
						<p class="list-group-item-text">
							<ul>
								<li style="display: inline;">&bull; <b>세대수</b> {{ apart.totalHouseholdCount }} 세대</li>
								<li style="display: inline;">&bull; <b>준공년도</b> {{ $moment(apart.useApproveYmd, 'YYYYMMdd').format("YYYY")}}년식. ({{ $moment(apart.useApproveYmd, 'YYYYMMdd').startOf('year').fromNow()}})</li>
								<li style="display: inline;">&bull; <b>최고층</b> {{ apart.highFloor }}층</li>
								<li style="display: inline;" v-if="parseInt(apart.minSupplyArea * AREA_TO_PYUNG_RATE) == parseInt(apart.maxSupplyArea * AREA_TO_PYUNG_RATE)">&bull; <b>공급면적</b> {{ parseInt(apart.maxSupplyArea * AREA_TO_PYUNG_RATE) }}평 </li>
								<li style="display: inline;" v-else>&bull; <b>공급면적</b> {{ parseInt(apart.minSupplyArea * AREA_TO_PYUNG_RATE) }}평 ~  {{ parseInt(apart.maxSupplyArea * AREA_TO_PYUNG_RATE) }}평 </li>
							</ul>
						</p>
					</a>
				</div>
			</div>
			
		<button type="button" class="btn btn-lg btn-primary" @click="save">저장</button>
		</div>
	</div>

	<script type="text/javascript">
		Vue.use(vueMoment);

		const AREA_TO_PYUNG_RATE = 0.3025;
		
		var app = new Vue({
			el: '#app',
			data : {
				selectedDo : {},
				selectedCity : {},
				selectedGu : {},
				selectedDong : {},
				selectedHuntTypeId : '',
				selectedAreaId : 0,
				selectedApart: {},
				searchWords : '',
				doList : [], 
				cityList : [], 
				guList : [],
				dongList : [],
				searchAparts : [],
				AREA_TO_PYUNG_RATE : AREA_TO_PYUNG_RATE
			}, 
			created() {
				this.refreshDoList();
			}, methods : {
				refreshDoList: function() {
					this.$data.doList = [];
					this.$data.cityList = [];
					this.$data.guList = [];
					this.$data.dongList = [];
					this.$data.selectedDo = {};
					this.$data.selectedCity = {};
					this.$data.selectedGu = {};
					this.$data.selectedDong = {};

					axios.get('/api/area/does')
						.then(function(res){
							this.$data.doList = res.data;
						}.bind(this))
						.catch(function(e){
						console.error(e);
					});
				},
			onDoSelected: function(){
				this.$data.cityList = [];
				this.$data.guList = [];
				this.$data.dongList = [];
				this.$data.selectedCity = {};
				this.$data.selectedGu = {};
				this.$data.selectedDong = {};
				
				var doCode = (this.$data.selectedDo == "") ? "" : this.$data.selectedDo.doCode;
				axios.get('/api/area/citys', {params:{doCode : doCode}})
				.then(function(res){
					this.$data.cityList = res.data;
				}.bind(this))
				.catch(function(e){
				console.error(e);
				});
			},
			onCitySelected: function(){
				this.$data.guList = [];
				this.$data.dongList = [];
				this.$data.selectedGu = {};
				this.$data.selectedDong = {};

				var doCode = (this.$data.selectedDo == "") ? "" : this.$data.selectedDo.doCode;
				axios.get('/api/area/gus', {params:{doCode: doCode, cityCode: this.$data.selectedCity.cityCode}})
				.then(function(res){
					this.$data.guList = res.data;
				}.bind(this)).catch(function(e){
				console.error(e);
				});
			}, onGuSelected : function() {
					this.$data.dongList = [];
					this.$data.selectedDong = {};

					var doCode = (this.$data.selectedDo == "") ? "" : this.$data.selectedDo.doCode;
					axios.get('/api/area/dongs', {params:{doCode : doCode, cityCode: this.$data.selectedCity.cityCode, guCode: this.$data.selectedGu.guCode}})
					.then(function(res){
						this.$data.dongList = res.data;
					}.bind(this)).catch(function(e){
						console.error(e);
					});
			}, onHuntTypeSelected : function() {
					this.$data.cityList = [];
					this.$data.guList = [];
					this.$data.dongList = [];
			}, search : function() {
				const addressPrefix = [this.selectedDo.doName, this.selectedCity.cityName, this.selectedGu.guName, this.selectedDong.dongName];
					axios.get('/api/hunt/search', {params:{searchWords:encodeURIComponent(addressPrefix.join(" ").concat(" ").concat(this.searchWords))}})
						.then(function(res){
							this.$data.searchAparts = res.data.complexes;
						}.bind(this)).catch(function(e){
						console.error(e);
					});
			}, choiceApart : function(apart) {
				this.$data.selectedApart = apart;
				this.$data.selectedApart.minSupplyPyung = parseInt(apart.minSupplyArea * AREA_TO_PYUNG_RATE);
				this.$data.selectedApart.maxSupplyPyung = parseInt(apart.maxSupplyArea * AREA_TO_PYUNG_RATE);
				this.$data.selectedApart.minTotalPyung = parseInt(apart.minTotalArea * AREA_TO_PYUNG_RATE);
				this.$data.selectedApart.maxTotalPyung = parseInt(apart.maxTotalArea * AREA_TO_PYUNG_RATE);
			},
				save : function() {
				if(confirm("저장하시겠습니까?")) {
					axios.get('/api/area', {params:{doCode : this.selectedDo.doCode, cityCode: this.$data.selectedCity.cityCode, guCode: this.$data.selectedGu.guCode, dongCode: this.$data.selectedDong.dongCode}})
						.then(function(res){
							this.$data.selectedAreaId = res.data.id;
							console.log(this.$data.selectedAreaId);

							axios.post('/api/hunt',{
							huntDate : moment(new Date()).format("YYMMDD"),
							area : {id : this.$data.selectedAreaId},
							huntType: {id : this.$data.selectedHuntTypeId},
							huntApart:{huntAreaId: this.$data.selectedAreaId, naverComplex:this.$data.selectedApart}
						})
						.then(function(res){
							alert("저장되었습니다.");
							location.href="/";
						}.bind(this)).catch(function(e){
							alert("실패했습니다.");
						console.error(e);
						});
					}.bind(this)).catch(function(e){
							console.error(e);
						}
					);   
				}
			}    
			}
		});
	</script>
</body>
</html>